body
{
    display: flex;
    
}

h2.icon
{
    color: #243D6F;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-left: 5%;
    margin-top: 2%;
    /* position: relative;
    left: 85px;
    top: 10px; */
}

#timeline
{
    /* width: 810px; */
    width: 90%;
    /* position: relative;
    left: 40px;
    top: 20px; */
    
    border: none;
    background-color: #F3F3F3;
    height: 2px;
}

.search
{
    width: 20px;
    height: 15px;

    position: relative;
    right: -68%;
    top: 1%;
}

.layout
{
    width: 20px;
    height: 15px;

    position: relative;
    right: -70%;
    top: 1%;
}

div.icon
{
    display: flex;
    align-items: center;
}

ul.time1
{
    color: #A4B0C3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    list-style-type: none;
}

ul.time1 li
{
    margin: 50px;
    margin-left: 20px;

}

.time
{
    width: 900px;
    position: static;
    height: 900px;
    background:#fdfcfc;
    
}

.task-1
{
    background: rgba(133, 118, 237, 0.20);
    width: 598px;
    height: 73px;

    padding-left: 40px;
    position: relative;
    bottom: 887px;
    left: 178px;

    color: #243D6F;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:  73px;
    text-align: left;
}


.task-2
{
    background: rgba(61, 131, 249, 0.20);;
    width: 598px;
    height: 169px;
    padding-left: 40px;
    position: relative;
    bottom: 840px;
    left: 178px;

    color: #243D6F;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 169px;
}

.task-3
{
    background: rgba(238, 165, 124, 0.20);
    width: 598px;
    height: 136px;

    position: relative;
    bottom: 751px;
    left: 178px;
    padding-left: 40px;
    color: #243D6F;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136px;
}

/* ul.lines12 li
{
    list-style-type: none;
    width: 500px;
    margin-bottom: 12%;
    margin-left: 20%;
    
}  */

#timeline2
{
    width: 643px;
    position: relative;
    bottom: 128px;
    left: 70px;
    border: none;
    background-color: #F3F3F3;
    height: 2px;
}

#timeline3
{
    width: 643px;
    position: relative;
    bottom: 70px;
    left: 70px;
    border: none;
    background-color: #F3F3F3;
    height: 2px;
}

#timeline4
{
    width: 643px;
    position: relative;
    bottom: 215px;
    left: 70px;
    border: none;
    background-color: #F3F3F3;
    height: 2px;
}

#timeline5
{
    width: 643px;
    position: relative;
    bottom: 632px;
    left: 70px;
    border: none;
    background-color: #F3F3F3;
    height: 3px;
}

#timeline6
{
    width: 643px;
    position: relative;
    bottom: 577px;
    left: 70px;
    border: none;
    background-color: #F3F3F3;
    height: 2px;
}

#timeline7
{
    width: 643px;
    position: relative;
    bottom: 517px;
    left: 70px;
    border: none;
    background-color: #F3F3F3;
    height: 2px;
}

#timeline8
{
    width: 643px;
    position: relative;
    bottom: 390px;
    left: 70px;
    border: none;
    background-color: #F3F3F3;
    height: 2px; 
}

#verticalline1
{
    width: 73px;
    position: relative;
    bottom: 1270px;
    right: 251px;
    
    background-color: #8576ED;
    height: 2px;
    border: none;
    transform: rotate(90deg);
    
}

#verticalline2
{
    width: 169px;
    position: relative;
    bottom: 1095px;
    right: 251px;
    background-color: #3D83F9;
    height: 2px;
    border: none;
    transform: rotate(90deg);
}

#verticalline3
{
    width: 136px;
    position: relative;
    bottom: 848px;
    right: 251px;
    background-color: #EEA57C;
    height: 2px;
    border: none;
    transform: rotate(90deg);
}

.date
{
    /* width: 400px; */
    width: 33%;
    flex-grow: 1;
    height: 900px;
    margin-left: 60px;
    background: rgba(42, 46, 65, 0.7);
}

#shape h2.shape
{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px; 
}

#shape
{
    
    height: 85px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

img.shape
{
    width: 17px;
    height: 13px;
}

hr.calendar
{
    
    width: 300px;
    height: 2px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.17;
    position: relative;
    top: 10px;

}

/* table
{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 15px;

    border-spacing: 30px 30px;
}

thead
{
    color: #FFFFFF;
    opacity: 0.6;
}

div.table
{

    width: 290;
    display: flex;
    justify-content: center;

} */

p.categories
{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    margin-left: 50px;
    margin-top: 50px;

}

button.finance
{
    background: #8576ED;
    color: #FFFFFF;
    border-radius: 5px;
    width: 145px;
    height: 50px;

    margin-left: 50px;
    
    ;
}

button.management
{
    background: #F39946;
    color: #FFFFFF;
    border-radius: 5px;
    width: 145px;
    height: 50px;
    margin: 10px;

    position: relative;
    bottom: 1px;

}

button.design
{
    background: #FF467E;
    color: #FFFFFF;
    border-radius: 5px;
    width: 145px;
    height: 50px;
    margin-left: 50px;
    ;
}



.line1, .line2, .line3, .line4, .line5, .line6 
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 290px;

    padding-left: 50px;
    margin: 2px;
    

    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    align-items: center;
    opacity: 0.95;

}

#l1
{

    font-size: 11px;
    line-height: 13px;
    opacity: 0.6;
    padding-left: 47px;
}

#opac
{
    opacity: 0.6;
}

.table li
{
    margin-top: 20px;
    
    width: 10px;
    height: 40px;
}

.circle1
{
    width: 40px;
    height: 40px;

    position: relative;
    left: 39px;
    top: 239px;
}

.circle2
{
    width: 40px;
    height: 40px;

    position: relative;

    left: 41px;
    top: 239px;
}

.test
{
    display: flex;
}